@font-face {
    font-family: 'Digital-7';
    src: url('digital-7/digital-7.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-height: 100%;
    overflow: hidden;
    background: #000000;
}

